.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  
  .spinner {
    font-size: 100px;
    animation: spin 2s linear infinite;
    color: #44a398;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }